<a href="#main-content" class="skip-to-main-link">{{lang 'header.skip_to_main'}}</a>
{{#if banners.top}}
<div id="header-banner" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="promo-message default" data-event-type="promotion-click" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        {{{this.content}}}
    </div>
    {{/each}}
</div>
{{/if}}
<header class="header" role="banner">
    <div class="container">
        <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
            <span class="mobileMenu-toggleIcon">Toggle menu</span>
        </a>
        <div class="header-logo-container">
            {{#if page_type '===' 'default'}}
            <div class="header-logo">
                {{> components/common/store-logo}}
            </div>
            {{else}}
            <div class="header-logo">
                {{> components/common/store-logo}}
            </div>
            {{/if}}
        </div>
        <div class="navPages-container" id="menu" data-menu>
            {{> components/common/navigation-menu}}
        </div>
        <div class="navUsers-container">
            {{> components/common/navigation-svg}}
        </div>
    </div>
</header>
{{{region name="header_bottom--global"}}}
{{{region name="header_bottom"}}}
